<section id="main" class="container">
  <header>
    <h2>Contact Us</h2>
    <p>Have a question, or want to get to know the breeder?
      <br> Shoot us an email and we will get back to you as soon as possible!</p>
  </header>
  <div class="box">
    <form method="post" action="https://formspree.io/sapphiredoodles@gmail.com">
      <div class="row uniform 50%">
        <div class="6u 12u(mobilep)">
          <input type="text" name="_replyto" id="name" placeholder="Name" />
        </div>
        <div class="6u 12u(mobilep)">
          <input type="email" name="email" id="email" placeholder="Email" />
        </div>
      </div>
      <div class="row uniform 50%">
        <div class="12u">
          <input type="text" name="subject" id="subject" placeholder="Subject" />
        </div>
      </div>
      <div class="row uniform 50%">
        <div class="12u">
          <textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
        </div>
      </div>
      <div class="row uniform">
        <div class="12u">
          <ul class="actions align-center">
            <li>
              <input type="submit" value="Send Message" />
            </li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</section>
