<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Sapphire Doodles</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home
        <span class="sr-only">(current)</span>
      </a>
      <a class="nav-item nav-link active align-left" >Pictures</a>
      <a class="nav-item nav-link active" href="#">Pricing</a>
      <a class="nav-item nav-link active" routerLink="/contact" routerLinkActive="active">Contact</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- Footer -->
<footer id="footer">
  <ul class="icons">
    <li>
      <a href="https://www.facebook.com/SapphireDoodles/" target="_blank" class="icon fa-facebook">
        <span class="label">Facebook</span>
      </a>
    </li>
  </ul>
  <ul class="copyright">
    <li>&copy; Chad Baily. All rights reserved.</li>
    <li>Design:
      <a href="http://html5up.net">HTML5 UP</a>
    </li>
  </ul>
</footer>
