<div class="container gallery-container">
  <div class="tz-gallery">

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="../assets/images/puppies/IMG_6197.jpg">
          <img src="../assets/images/thumbnails/IMG_6197TH.jpg" alt="">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="../assets/images/puppies/IMG_6240.jpg">
          <img src="../assets/images/thumbnails/IMG_6240TH.jpg" alt="">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="../assets/images/puppies/IMG_6246.jpg">
          <img src="../assets/images/thumbnails/IMG_6246TH.jpg" alt="Tunnel">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="../assets/images/puppies/IMG_6257.jpg">
          <img src="../assets/images/thumbnails/IMG_6257TH.jpg" alt="Coast">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="../assets/images/puppies/IMG_6283.jpg">
          <img src="../assets/images/thumbnails/IMG_6283TH.jpg" alt="Rails">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="../assets/images/puppies/IMG_6288.jpg">
          <img src="../assets/images/thumbnails/IMG_6288TH.jpg" alt="Traffic">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="../images/rocks.jpg">
          <img src="../images/rocks.jpg" alt="Rocks">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="../images/benches.jpg">
          <img src="../images/benches.jpg" alt="Benches">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="../images/sky.jpg">
          <img src="../images/sky.jpg" alt="Sky">
        </a>
      </div>
    </div>

  </div>

</div>
