<!-- Banner -->
<section id="banner">
  <h2>Sapphire Doodles</h2>
  <p>A family run buisness bringing great, playful, and loving pets to great families.</p>
  <ul class="actions">
    <a href="contact.html" class="btn btn-primary">Contact Us!</a>
    <a href="#main" class="btn btn-outline-secondary">Learn More</a>
  </ul>
</section>

<section id="main" class="container">
  <section class="box special">
    <header class="major">
      <h2>
        <strong>All Puppies have been sold!
          <br> More puppies are coming soon! Contact me for details!</strong>
      </h2>
      <!-- <p>Please let us know if you are interested in a puppy, we are already reserving spots for the next litter due in the spring!</p> -->
    </header>
    <span class="image featured">
      <img src="images/talking_to_santa.JPG" alt="" />
    </span>
  </section>
</section>

<section id="cta">

  <h1 style="color:#FFF;">Contact us to get in touch with the breeder!</h1>
  <ul class="actions">
    <a href="contact.html" class="btn btn-primary btn-lg" role="button">Contact Us!</a>
  </ul>
</section>
